html,
body {
  background-image: url("./img/22.jpg");
    background-repeat: no-repeat; /* Evita que se repita */
    background-attachment: fixed;
    margin: 0;
    height: 100%; /* Asegura que el fondo cubra toda la ventana */

}

.name-carrito{
color: white;
}
.name-producto{
  color: wheat;
}
.name-total{
  color: white;

}
.badge {
  font-size: 0.8rem;
  padding: 0.2rem 0.5rem;
  border-radius: 50%;
  color: white;
  background-color: #007bff; /* Azul Bootstrap */
  margin-left: 5px;
}


.navbar {
  background-color: #000000 !important; /* Fondo negro */
  height: 120px;
  
}

.nav-item {
  margin-right: 30px !important; /* Aumenta el espacio entre los enlaces */
}

.navbar a {
  height: 100%;
  background-color: black;
  color: white !important; /* Asegura que los enlaces sean blancos */
}

.navbar-nav {
  display: flex !important; /* Asegura que los items estén en una línea */
  justify-content: flex-end !important; /* Alinea los items a la derecha */
  width: 100% !important; /* Asegura que ocupe todo el ancho disponible */
}

.container-logo {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 40px;
}

.navbar-logo {
  width: 100px; /* Ajusta el ancho deseado */
  height: 100px; /* Ajusta el alto deseado */
  object-fit: contain; /* Asegura que la imagen no se distorsione */
  position: absolute; /* Evita que el tamaño de la imagen influya en la altura del navbar */
  top: 50%; /* Centra verticalmente la imagen dentro del navbar */
  transform: translateY(-50%);
}
